<!DOCTYPE html>
<html>
    <head>
      <title> Yuvraaj Trehan </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
      <style>
        #banner {
            height: 360px;
            object-fit: cover;
            width: 100%;
        }
  
      </style>
    </head>
    <body>
        <div class="container">
        <h1 class="text-center mt-2 mb-4"> Yuvraaj Trehan  </h1>
        <img  class="img-fluid" id='banner' src="http://127.0.0.1:5000/static/photololu.jpeg" class="img-fluid">
        <h2 class="text-center"> About Yuvraaj </h2>
        <p class="lead"> I am a passionate coder who loves solving problems through logic, creativity, and technology. 
    Writing code allows me to bring ideas to life — whether its building web applications, automating tasks, or experimenting with new frameworks. 
    I enjoy learning new programming languages and improving my skills through real-world projects and challenges. 
    For me, coding isnt just a skill — its a way to think, create, and continuously grow. 
        </p>
        <h2 class="text-center mt-3 mb-3"> Random Option </h2>
        <p> show a list here</p>
        <div class="text-center">
        <button type="button" class="btn btn-outline-Contack Me"> Contact Me </button>
        <p class="mt-4 mb-4">copyright 2025 Yuvraaj</p>
        </div>
        <div>
    </body>
</html>   